.user-image {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 200%;
  min-height: 100%;
  color: #000000;
  font-size: 20px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  /*overflow: hidden;*/
}

.img-placeholder {
  position: absolute;
  /*text-align: center;*/
  width: 100%;
  height: 100%;
}
.img-placeholder > div {

  position: relative;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.user-image__wrapper {
  position: relative;
  width: 100%;
  max-height: 430px;
  overflow: hidden;
  z-index: 1;
}

.user-image__wrapper img {
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.user-image:hover img{
  opacity: 0.3;
}

.user-image form {
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-image form, .user-image__input-file {
  width: 100%;
  height: 100%;
}
.user-image__input-file {
  position: absolute;
  opacity: 0;
}
